{% extends 'base.html' %}
<h1>{% block title %} О проекте {% endblock %}</h1>
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>О проекте</title>
    <style>
      p { text-indent: 25px; padding: 0px;}



    </style>
</head>
<body background="static/img/фон.png">
<p><big>Ино-блог — мини-соцсеть для туристов, посещавших планету Вороноид, где каждый может написать отзыв, который
    будет
    автоматически переведён на язык Вороноидов — изображения.
    Перевод зависит от написанного сообщения, поэтому, если пользователь пишет какие-то определённые слова (например,
    названия цветов или прилагательные, отвечающие за размер и количество),
    то изображение меняется. (Обязательно проверьте!) </big></p>
<tr align="center">
    <img src="{{ url_for('static', filename='img/планета.png') }}" width="800" height="800" align="center"></tr>
<p><big>Планета Вороноид находится в созвездии Лебедя на расстоянии 212 980 световых лет от Земли.
    Местные жители называют себя Вороноидами. Им запрещено предаваться всем радостям жизни, кроме астрономических.
    Они не способны воспринимать речь, поэтому предпочитают общаться картинками.
    Планета полна имитации жизни, но построена из металла.</big></p>
<p><big><br>Инструкция для написания сообщения:</big></p>
<p><big>Войти или зарегистрироваться</big></p>
<p><big>Нажать на кнопку "новое сообщение"</big></p>
<p><big>Написать содержимое сообщения и наслаждаться своим постом и переводом на картинку в ленте</big></p>
<h1 align="center">:)</h1>
<br> <br><br> <br><br> <br><br> <br>
</body>
{% endblock %}

