{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Редактировать сообщение "{{ post['title'] }}" {% endblock %}</h1>

<body background="static/img/фон.png">
<form method="post">
    <div class="form-group">
        <label for="title">Заголовок</label>
        <input type="text" name="title" placeholder="Post title"
               class="form-control"
               value="{{ request.form['title'] or post['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="content">Текст сообщения</label>
        <textarea name="content" placeholder="Post content"
                  class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">Опубликовать</button>
    </div>
</form>
<hr>

<form action="{{ url_for('delete', id=post['id']) }}" method="POST">
    <input type="submit" value="Удалить сообщение"
           class="btn btn-danger btn-sm"
           onclick="return confirm('Вы уверены, что хотите удалить это сообщение?')">
</form>
</body>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

{% endblock %}