{% extends 'base.html' %}

{% block content %}
<h1 align="center">{% block title %} Лента Сообщений {% endblock %}</h1>
<hr>

{% for post in posts %}

<table align="center">
    <tr align="center">
        <td><img src="{{ url_for('static', filename=post['image']) }}" width="180" height="180" alt="Edit"></td>
<!--        <td><p>{{ post['content'] }}</p></td>-->
   </tr>
    <tr align="center">
        <td><a style="color:#000000" href="{{ url_for('post', post_id=post['id']) }}">
            <h4>{{ post['title'] }}</h4>
        </a></td>
            {% if not current_user.is_anonymous %}
        <td><a href="{{ url_for('edit', id=post['id']) }}">
            <img src="{{ url_for('static', filename='img/pencil.png') }}" width="32" height="32" alt="Edit">
        </a></td>
        {% endif %}
    </tr>
</table>
<span style="color:#808080">{{ post['stamp'] }}</span>
<span style="color:#808080">{{ post['username'] }}</span>
<hr>

{% endfor %}
{% endblock %}